.all-rights-are1 {
  margin: 0;
}
.all-rights-are-container {
  position: relative;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
