.group-child9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-darkslateblue);
  width: 788px;
  height: 148px;
}
.image-1-icon1 {
  position: absolute;
  top: 31px;
  left: 45px;
  width: 117px;
  height: 105px;
  object-fit: cover;
}
.group-child10,
.rectangle-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 788px;
  height: 148px;
}
.group-child10 {
  border-radius: var(--br-xl);
  background-color: var(--color-dodgerblue);
  width: 185px;
  height: 51px;
}
.ellines-icon {
  position: absolute;
  top: 13px;
  left: 64px;
  width: 58px;
  height: 25px;
  overflow: hidden;
}
.group-wrapper,
.peerlink-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 185px;
  height: 51px;
}
.peerlink-inner1 {
  top: 58px;
  left: 542px;
}
.unlocking-secure-connections1 {
  position: absolute;
  top: 272px;
  left: 45px;
  display: inline-block;
  color: var(--color-darkslateblue);
  width: 613px;
  height: 282px;
}
.image-2-icon1 {
  position: absolute;
  top: 537px;
  left: 68px;
  width: 615px;
  height: 307px;
  object-fit: cover;
}
.group-icon {
  position: absolute;
  top: 939px;
  left: calc(50% - 394px);
  width: 799px;
  height: 160px;
}
.want-your-peers1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 644px;
  height: 210px;
}
.want-your-peers-to-engage-with-wrapper {
  position: absolute;
  top: 1165px;
  left: 83px;
  width: 644px;
  height: 210px;
  color: var(--color-darkslateblue);
}
.group-child11 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-dodgerblue);
  width: 546px;
  height: 86px;
}
.get-started1 {
  position: absolute;
  top: 25px;
  left: 184px;
  display: inline-block;
  width: 300.1px;
}
.rectangle-parent10 {
  position: absolute;
  top: 1441px;
  left: 83px;
  width: 546px;
  height: 86px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
}
.group-child12,
.peerlink-child2 {
  position: absolute;
  top: 1673px;
  left: 0;
  background-color: var(--color-black);
  width: 788px;
  height: 2189px;
}
.group-child12 {
  top: 0;
  background-color: var(--color-dodgerblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 507px;
  height: 384px;
}
.get-alert-for1 {
  position: absolute;
  top: 81px;
  left: 56.6px;
  display: inline-block;
  width: 418.7px;
  height: 171px;
}
.group-child13,
.rectangle-parent11 {
  position: absolute;
  top: 2883px;
  left: 87px;
  width: 507px;
  height: 384px;
}
.group-child13 {
  top: 0;
  left: 0;
  background-color: var(--color-dodgerblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 504.3px;
}
.data-analysis1 {
  position: absolute;
  top: 152px;
  left: 81.9px;
  display: inline-block;
  width: 416.5px;
  height: 171px;
}
.rectangle-parent12 {
  position: absolute;
  top: 3362px;
  left: 89.7px;
  width: 504.3px;
  height: 384px;
}
.features1,
.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
}
.features1 {
  display: inline-block;
  width: 1051px;
  height: 96px;
}
.group-child14 {
  background-color: var(--color-dodgerblue);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 507.1px;
  height: 384px;
}
.track-peers1 {
  margin: 0;
}
.track-peers-communication-container1 {
  position: absolute;
  top: 166px;
  left: 43.7px;
  display: inline-block;
  width: 418.8px;
  height: 171px;
}
.rectangle-parent13 {
  position: absolute;
  top: 0;
  left: 0;
  width: 507.1px;
  height: 384px;
}
.track-sentiments-of1 {
  position: absolute;
  top: 125px;
  left: 16.9px;
  display: inline-block;
  width: 508.1px;
  height: 172px;
}
.group-parent1,
.rectangle-parent14 {
  position: absolute;
  top: 479px;
  left: 0;
  width: 525px;
  height: 384px;
}
.group-parent1 {
  top: 107px;
  height: 863px;
}
.features-group,
.group-child16 {
  position: absolute;
  top: 1812px;
  left: 87px;
  width: 1051px;
  height: 970px;
}
.group-child16 {
  top: 83px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 759.9px;
  height: 115px;
}
.eg-zoya-memon1,
.full-name1 {
  position: absolute;
  top: 120px;
  left: 48.3px;
  display: inline-block;
  width: 331.6px;
}
.full-name1 {
  top: 0;
  left: 0;
  color: var(--color-black);
  width: 206.8px;
}
.rectangle-parent15 {
  position: absolute;
  top: 154px;
  left: 16.1px;
  width: 759.9px;
  height: 198px;
}
.contact-now1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-41xl);
  display: inline-block;
  color: var(--color-black);
  width: 447.1px;
}
.group-parent2 {
  position: absolute;
  top: 3893px;
  left: 12px;
  width: 776px;
  height: 352px;
  font-size: var(--font-size-16xl);
  color: var(--color-gray-100);
}
.group-child17 {
  position: absolute;
  top: 83px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 760px;
  height: 115px;
}
.b1,
.contact-number1 {
  position: absolute;
  top: 112px;
  left: 48.3px;
  display: inline-block;
  width: 342.4px;
}
.contact-number1 {
  top: 0;
  left: 0;
  color: var(--color-black);
  width: 338.4px;
}
.rectangle-parent16 {
  position: absolute;
  top: 4612px;
  left: 28px;
  width: 760px;
  height: 198px;
  font-size: var(--font-size-16xl);
  color: var(--color-gray-100);
}
.comment1,
.eg-requesting-for1 {
  position: absolute;
  top: 112px;
  left: 32.2px;
  display: inline-block;
  width: 503.5px;
}
.comment1 {
  top: 0;
  left: 0;
  color: var(--color-black);
  width: 204.1px;
}
.rectangle-parent17 {
  position: absolute;
  top: 4873px;
  left: 28px;
  width: 760px;
  height: 198px;
  font-size: var(--font-size-16xl);
  color: var(--color-gray-100);
}
.group-child19 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-dodgerblue);
  width: 302px;
  height: 86px;
}
.submit-request1 {
  position: absolute;
  top: 25px;
  left: 48px;
}
.rectangle-parent18 {
  position: absolute;
  top: 5120px;
  left: 474px;
  width: 302px;
  height: 86px;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
}
.peerlink1 {
  position: relative;
  background-color: var(--color-whitesmoke-100);
  width: 100%;
  height: 5384px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-white);
  font-family: var(--font-inria-sans);
}
